#main-features {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.modal {
	display: none;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	max-width: 800px;
	box-sizing: initial;
	width: 90%;
	background: #fff;
	padding: 0px 3% 50px 3%;
	margin: 0 auto;
	border-radius: 0px;
	text-align: center;
	border-radius: 4px;
}
@media screen and (max-width: 959px) {
	.modal {
		width: 90%;
	}
}
@media screen and (max-width: 640px) {
	.modal {
		width: 80%;
	}
}
@media screen and (max-width: 450px) {
	.modal {
		width: 100%;
	}
}
.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
}
.modal a.close-modal {
	display: none;
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: none;
}
.modal a.close-modal2 {
	width: 80px;
	height: 80px;
	margin: 0px 0px 30px 0px;
	padding: 0 auto;
	font-family: Avenir;
	font-style: oblique;
	font-weight: lighter;
    float: right;
    color: red;
    text-decoration: none;
    font-size: 100px;
}
.modal p {
	text-align: left;
	width: 100%;
	display: block;
	margin: 0px auto;
	padding: 0 auto;
	font-family: Avenir;
	font-style: oblique;
	font-weight: lighter;
	float: left;
}
.inner {
	width: 100%
	padding-top: 10%;
}
.modal iframe {
	position: relative;
	margin: 0px auto;
	padding: 0 auto;
	width: 100%;
}
.modal img {
	position: relative;
	margin: 0px auto;
	padding: 0 auto;
	width: 100%;
}
.section {
	margin: 0 auto;
	padding: 0 auto;
	display: inline-block;
	text-align: center;
	width: 45%;
}
@media screen and (max-width: 959px) {
	.section {
		width: 550px
	}
}
@media screen and (max-width: 640px) {
	.section {
		width: 500px
	}
}
@media screen and (max-width: 400px) {
	.section {
		width: 100%
	}
}
.section img {
	width: 100%;
	opacity: 1;
	margin: 0 auto;
	padding: 0 auto;
}
.section img:hover {
	opacity: 0.8;
}